# Dependencies
node_modules

# Build output
dist
build
coverage

# Source control
.git
.gitignore

# IDE
.vscode
.idea

# Environment
.env
.env.*
!.env.example

# Docker
Dockerfile
.dockerignore
docker-compose.yaml

# Tests
test
**/*.spec.ts
jest-e2e.json

# Docs
README.md
LICENSE

# CI
.github
